<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图像检索</title>
<link href="../static/css/index.css" rel="stylesheet" type="text/css" />
<link href="../static/css/reset.min.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="search1">
<div class="imglog">
</div>
<div>
    <h1>图像搜索</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
        <br>
        <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
    </form>
</div>
</div >
</div>


</body>
</html>